@charset "utf-8";

/* 스킵메뉴 */
#skip {
    position: relative;
}
#skip a {
    position: absolute;
    left: 0px;
    top: -35px;
    border: 1px solid #fff;
    color: #fff;
    background: #333;
    line-height: 30px;
    width: 140px;
    font-size: 13px;
    text-align: center;
}
#skip a:active, #skip a:focus {
    top: 0px;
}

/* 레이아웃 */
#wrap {
}
#header {
    height: 325px;
    background: #111 url("../img/header_bg.jpg") repeat-x center top;
}
#contents {

}
#contents_nav {
    background-color: #f6fdff;
}
#contents_title {
    background-color: #EAF7FD;
}
#contents_banner {
    background-color: #dceff7;
}
#contents_cont {
    background-color: #f6fdff;
}
#footer {
    height: 200px;
    background: #111;
}
.container {
    width: 990px;
    height: inherit;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.3);
}

/* 헤더 */
#headerMenu {
    text-align: right;
}

#headerMenu a {
    display: inline-block;
    color: #fff;
    padding: 10px 3px 10px;
}

#headerMenu a:hover {
    color: #666;
}

#headerTitle {
    text-align: center;
}

#headerTitle h1 {
    display: inline-block;
    color: #fff;
    background: #4aa8db;
    font-size: 28px;
    padding: 5px 20px 6px 20px;
    margin-top: 40px;
    font-weight: normal;
    text-transform: uppercase;
}

#headerTitle a {
    display: inline-block;
    color: #fff;
    background-color: #2698cb;
    font-size: 18px;
    padding: 5px 20px 6px 20px;
    margin-top: -5px;
}

#header-icon {
    text-align: center;
    margin-top: 30px;
}

#header-icon a {
    width: 60px;
    height: 60px;
    display: inline-block;
    background: url(../img/icon.png);
    margin: 0 3px;
}

#header-icon #icon1 {
    background-position: 0 0;
}

#header-icon #icon1:hover {
    background-position: -60px 0;
}

#header-icon #icon2 {
    background-position: 0 -60px;
}

#header-icon #icon2:hover {
    background-position: -60px -60px;
}

#header-icon #icon3 {
    background-position: 0 -120px;
}

#header-icon #icon3:hover {
    background-position: -60px -120px;
}

#header-icon #icon4 {
    background-position: 0 -180px;
}

#header-icon #icon4:hover {
    background-position: -60px -180px;
}

/* 컨텐츠 */
#nav {
    overflow: hidden;
}

#nav > div {
    float: left;
    width: 40%;
}

#nav > div#last {
    width: 20%;
}

#nav > div ol {
    overflow: hidden;
}

#nav > div ol li {
    float: left;
    width: 50%;
}

#nav > div#last ol li {
    width: 100%;
}

#nav > div h3 {
    font-size: 18px;
    color: #25a2d0;
    margin-bottom: 4px;
}

#nav > div ol li a:hover {
    text-decoration: underline;
}

#tit {
    position: relative;
}

#tit h2 {
    font: 40px normal;
    text-align: center;
    padding: 5px 0;
    letter-spacing: 2px;
    color: #2c94e4;
    font-family: 'Nanum Brush Script', cursive;
}

#tit #btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: url(../img/icon.png) no-repeat 0 -600px;
}

#ban {
    position: relative;
    padding: 24px 0 20px;
}

#ban a#prev {
    position: absolute;
    left: -60px;
    top: 60px;
    width: 43px;
    height: 43px;
    background: url(../img/icon.png) no-repeat -150px 0;
}

#ban a#prev:hover {
    background-position: -193px 0;
}

#ban a#next:hover {
    background-position: -193px -43px;
}


#ban a#next {
    position: absolute;
    right: -60px;
    top: 60px;
    width: 43px;
    height: 43px;
    background: url(../img/icon.png) no-repeat -150px -43px;
}

#ban ul {
    overflow: hidden;
}

#ban ul li {
    float: left;
    width: 330px;
}

#ban ul li:last-child {
    text-align: right;
}
#ban ul li:nth-child(2) {
    text-align: center;
}

#ban ul li img {
    border: 4px solid #dcdcdc;
}

#ban ul li img:hover {
    border: 4px solid #98dcdc;
}

#cont {
    overflow: hidden;
    padding-top: 30px;
}

#cont .column {
    float: left;
    position: relative;
    width: 289px;
    height: 363px;
    margin: 0 30px 30px 0;
    padding-right: 30px;
}

#cont .col1 {
    border-right: 1px solid #c8c8c8;
}

#cont .col2 {
    border-right: 1px solid #c8c8c8;
}

#cont .col3 {
    margin-right: 0;
    padding-right: 0;
}

#cont .col4 {
    border-right: 1px solid #c8c8c8;
}

#cont .col5 {
    border-right: 1px solid #c8c8c8;
}

#cont .col6 {
    margin-right: 0;
    padding-right: 0;
}

#cont .column .ico_img {
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/icon.png) no-repeat;
    width: 60px;
    height: 60px;
}

#cont .column .ico_tit {
    padding-left: 70px;
    font-size: 16px;
    color: #2c94c4;
}

#cont .column .ico_desc {
    padding: 0 0 15px 70px;
    border-bottom: 1px solid #d0d0d0;
}
#cont .col1 .ico_img {
    background-position: 0 -240px;
}

#cont .col2 .ico_img {
    background-position: 0 -300px;
}

#cont .col3 .ico_img {
    background-position: 0 -360px;
}

#cont .col4 .ico_img {
    background-position: 0 -420px;
}

#cont .col5 .ico_img {
    background-position: 0 -480px;
}

#cont .col6 .ico_img {
    background-position: 0 -540px;
}

#cont .col1 .ico_img:hover {
    background-position: -60px -240px;
}

#cont .col2 .ico_img:hover {
    background-position: -60px -300px;
}

#cont .col3 .ico_img:hover {
    background-position: -60px -360px;
}

#cont .col4 .ico_img:hover {
    background-position: -60px -420px;
}

#cont .col5 .ico_img:hover {
    background-position: -60px -480px;
}

#cont .col6 .ico_img:hover {
    background-position: -60px -540px;
}